* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.section-container {
    display: flex; 
    flex-wrap: wrap; 
    margin: 10px; 
}

.section {
    border: 1px solid black;
    padding: 20px;
    background-color: #f4f4f4;
    position: relative;
    flex: 1 1 0;
    margin: 10px;
}

.section {
    min-width: 280px;
}

.section-title {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 5px;
    border: 1px solid black;
}

@media (max-width: 991px) {
    .section {
        flex: 1 1 calc(50% - 20px); 
    }
    #section3 {
        flex: 1 1 100%; 
    }
}

@media (max-width: 767px) {
    .section {
        flex: 1 1 100%; 
    }
}
